.button {
    -fx-font-size: 16px;
    -fx-padding: 6;
}

.infoLabel {
    -fx-font-size: 20px;
    -fx-padding: 12;
}

#toolbar {
    -fx-padding: 12;
    -fx-spacing: 12;
}

#content {
    -fx-padding: 10;
}

#image {
    -fx-border-color: black;
    -fx-border-width: 2;
}

.root {
    -fx-background: rgb(220, 220, 220);
}
